# Global ownership
* @pipeops-platform/reviewers

# Deployment ownership
/apps/ @pipeops-platform/reviewers
/environments/ @pipeops-platform/reviewers
/argocd/ @pipeops-platform/reviewers
/docs/ @pipeops-platform/reviewers
