apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-lab-postgres-shared
  namespace: devops-lab-app-prod-data
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: devops-lab-postgres-shared
  template:
    metadata:
      labels:
        app.kubernetes.io/name: devops-lab-postgres-shared
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-shared-secret
                  key: db-name
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-shared-secret
                  key: db-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-shared-secret
                  key: db-password
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 600m
              memory: 768Mi
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: devops-lab-postgres-shared-data
