apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-lab-app
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: app
          env:
            - name: APP_ENV
              value: aws-staging
          resources:
            requests:
              cpu: 150m
              memory: 192Mi
            limits:
              cpu: 400m
              memory: 384Mi
