apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-lab-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: devops-lab-app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: devops-lab-app
    spec:
      containers:
        - name: app
          image: pipeops/devops-lab-app:0.2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: APP_ENV
              value: base
            - name: DB_HOST
              value: devops-lab-postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-secret
                  key: db-name
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-secret
                  key: db-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: devops-lab-postgres-secret
                  key: db-password
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 2
            failureThreshold: 3
